@model DotNetWithVue.Controllers.HomeController.ViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
    var data = JsonConvert.SerializeObject(Model);
}

<div id="app" v-data-name="@Model.name" v-data-page="@Model.page" v-data-model="@data">
    <p>
        If you are seeing this, you have not built the Vue project. Go to<br/>
        <code style="background: darkslategray;color: whitesmoke; padding: 8px;border-radius: 6px;">wwwroot/vue</code><br/>
        and run<br/>
        <code style="background: darkslategray;color: whitesmoke; padding: 8px; border-radius: 6px;">npm install && npm run build</code><br/>
    </p>
</div>