@model DotNetWithVue.Controllers.HomeController.ViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
    var data = JsonConvert.SerializeObject(Model);
}

<div id="app" v-data-name="@Model.name" v-data-page="@Model.page" v-data-model="@data">
    <p>
        If you are seeing this, you have not built the Vue project. Run the following code:<br/>
        <code class="bg-slate-800 text-gray-200 p-2 rounded">cd DotNetWithVue/wwwroot/vue</code><br/>
        and run<br/>
        <code class="bg-slate-800 text-gray-200 p-2 rounded">npm install && npm run build</code><br/>
    </p>
</div>